/*头部底边距*/
.navbar{
    margin-bottom: 0;
}

/*中心内容右侧，小标题*/
.title{
    border: 1px solid #ffffff;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.title .icon{
    margin-left: 15px;
}

/*中心内容右侧标题*/
.distant{
    margin-top: 20px;
}
.newstitle input{
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    width: 80%;
}
.copy{
     height: 35px;
    line-height: 35px;
    text-align: right;
}

/*中心内容右侧，下拉菜单*/
.classify{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
}

.classify select{
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    width: 73.5%;
    height: 33px;
}
.menu select{
    width: 80%;
}

.thumb{
    border: 1px solid #EEEEEE;
    position: relative;
    width: 70px;
    height: 70px;
}
.thumb input{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
.thumb img{
    width:70px;
    height:70px;
}