/*头部底边距*/
.navbar{
    margin-bottom: 0;
}

/*中心内容右侧，小标题*/
.title{
    border: 1px solid #ffffff;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.title .icon{
    margin-left: 15px;
}

/*中心内容右侧，按钮*/
.btn{
    margin: 10px 0 0 10px;
}

/*中心内容右侧，下拉菜单*/
.classify{
    display: inline-block;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    width: 70%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
}
.classify span{
    display: inline-block;
    background-color: #EEEEEE;
    width: 10%;
    height: 33px;
    text-align: center;
 }
.classify select{
    border: 1px solid #EEEEEE;
    width: 89%;
    height: 33px;
}


/*中心内容右侧，表格*/
.table{
    margin-top: 10px;
    text-align: center;
}
.table th{
    text-align: center;
}